<!DOCTYPE html>
<html>
<head>
	<title>"article index"</title>
</head>
<body>
    <h1> "SUCCESS!" </h1>
    <h2> <a href="new">New Articles</a></h2>
    <div>
    	<% for (var i = 0; i < MyART.length; i++) { %>
    	<!-- Create a link for each one, (a href) -->
    	<!-- ex: articles/<%= i %> -->
  			<li><%= MyART[i].email %></li>
		<% } %>
    </div>
</body>
</html>