<!DOCTYPE html>
<html>
<head>
	<title>new articles</title>
</head>
<body>
	<h1> Submit NEW ARTICLES here!!!</h1>
	<div>
		<form action="/articles/" method="post">
			<input name="email" type="text" placeholder="Email">
			<br>
			<input name="fullName" type="text" placeholder="Name">
			<br>
			<textarea name="funArticle" rows="20" cols="50" placeholder="Write your long boring content here"></textarea>
			<input type="submit" value="Submit">
		</div>
		<div>
			<a href="javascript:history.back()">Back</a>
			<a href=".">Index</a>
		</div>
	</form>
</body>
</html>